{% extends 'main/source.html' %}

{% block title %}
Addressbook page
{% endblock %}}

{% block content %}
<a href="{% url 'noteapp' %}" class="btn btn-primary" aria-current="page">Return</a>


<html>
<head>
    <title>Search</title>
</head>
<body>
{% if error %}
<p style="color: red;">Please submit a search term.</p>
{% endif %}


<form action="{% url 'search_views' %}" method="get">
    <input type="text" name="q" required>

    <button class="btn btn-primary">Search</button>
</form>
</body>
</html>

{% endblock %}