{% extends 'main/source.html' %}

{% block title %}
About page
{% endblock %}}


{% block content %}
<h2>About page</h2>
<div class="container mt-5">
<font color="#fa8e47" face="serif">
<h4>What is this programm? This app is your Personal Assistant.</h4>
<h4>Why should I use it? Because it provides services all in one:</h4>
    
<p>Address book</p>
<p>Newsapp</p>
<p>Noteapp</p>
<p>File manager</p>

<h4>How to use? This app has friendly interface, so just follow your wishes !</h4>

    <h4>Who made it? The students from "Go IT" school:</h4>
    <h4>Lesia Fedorenko, Bogdan Kostenko, Dima Stryzhak, Maksym Melnykov.</h4>

<div class='container mt-4'>
<h6>LICENSE? MIT</h6>
</div>
</div>
</font>
{% endblock %}
