{% extends 'main/source.html' %}

{% block title %}
Addressbook page
{% endblock %}}


{% block content %}
<h2>Addressbook page</h2>
<h2>Here we will create magic</h2>
<a href="../addressbook_show">
  <button class="btn btn-primary">Show contacts</button>
</a>
<br>
<br>
<a href="../addressbook_create">
  <button class="btn btn-primary">Create contact</button>
</a>
<br>
<br>
<a href="../addressbook_search">
  <button class="btn btn-primary">Search contact</button>
</a>
{% endblock %}

