{% extends 'main/source.html' %}

{% block title %}
Addressbook page
{% endblock %}}

{% block content %}
<a href="../addressbook">
    <button class="btn btn-primary">Return</button>
</a>
<br>

<p>You entered number of days: <strong>{{query}}</strong>
    and birthday should be before <strong>{{data}}</strong></p>

{% if contacts %}
<p>Found {{ contacts|length }} contact{{ contacts|pluralize }}.</p>
<ul>
    {% for contact in contacts %}
    <a href="{% url 'detail' contact.id %}">{{contact.name}}</a> {{contact.birthday}}<br>
    {% endfor %}
</ul>
{% else %}
<p>No contacts matched your search criteria.</p>
{% endif %}

<a href="../addressbook_input_form">
    <button class="btn btn-primary">New request</button>
</a>

{% endblock %}