{% extends 'main/source.html' %}

{% block title %}
Addressbook page
{% endblock %}}

{% block content %}

<a href="{% url 'addressbook' %}">
  <button class="btn btn-primary">Return</button>
</a>
<br>

<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>name and surname</label><br>
            <input type="text" name="name" value="{{contact.name}}" />
        </p>
        <p>
            <label>phone</label><br>
            <input type="number" name="phone" value="{{contact.phone}}" />
        </p>
        <p>
            <label>birthday</label><br>
            <input type="date"  name="birthday" value="{{contact.birthday}}" required/>
        </p>
        <p>
            <label>email</label><br>
            <input type="email" name="email" value="{{contact.email}}" />
        </p>
        <p>
            <label>address</label><br>
            <input type="text" name="address" value="{{contact.address}}" />
        </p>

        <a href="{% url 'detail' contact.id %}">
        <button class="btn btn-primary">Update</button>
        </a>

    </form>
</body>
{% endblock %}