{% extends 'main/source.html' %}

{% block title %}
Addressbook page
{% endblock %}}

{% block content %}

<br>
<a href="../addressbook">
    <button class="btn btn-primary">Return</button>
</a>
<br>
<br>
<p>You searched for: <strong>{{ query }}</strong></p>

{% if contacts %}
<p>Found {{ contacts|length }} contact{{ contacts|pluralize }}.</p>
<ul>
    {% for contact in contacts %}
    <a href="{% url 'detail' contact.id %}">{{contact.name}}<br> </a>
    {% endfor %}
</ul>
{% else %}
<p>No contacts matched your search criteria.</p>
{% endif %}

<a href="../addressbook_search_form">
    <button class="btn btn-primary">New search</button>
</a>

{% endblock %}
