{% extends 'main/source.html' %}

{% block title %}
Newsapp page
{% endblock %}}

{% block content %}
<br>
<a href="../newsapp">
    <button class="btn btn-primary">Return</button>
</a>
<br>
<br>
<p>Your choice: <strong>{{ query }}</strong></p>


{% for link, text, resource in results %}

<li><a href="{{link}} ">{{text}}</a> {{resource}}<br>

    {% endfor %}
    <br>
    <a href="../newsapp_search_form">
        <button class="btn btn-primary">New choice</button>
    </a>

    {% endblock %}
